.inputElement {
    background: rgba(46, 42, 101, 0.5);
    box-shadow: 0px 8px 25px rgba(23, 18, 43, 0.4);
    border: 0px;
    border-radius: 10px;
    color: #C1C1EC;
    font-weight: 400;
}

.signupButton {
    border-radius: 10px;
    width: 100%;
    color: #1e1b43;
}

.inputElement::placeholder {
    color: #7877B1;
}

.inputElement:focus {
    background-color: rgba(46, 42, 101, 0.5);
    color: #C1C1EC;
    font-weight: 500;
}